<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @planet.banner_url %>);">
  <div class="container">
    <h1><%= @planet.name %></h1>
    <p>Change your life, come to <%= @planet.name %>.</p>
    <%= link_to 'Add Alien', new_planet_alien_path(@planet), class: 'btn btn-success'  %>
  </div>
</div>
<div class="container my-3">
  <!-- TODO: put aliens here -->
  <div class="cards">
    <% @planet.aliens.each do |alien| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= alien.photo.attached? ? cl_image_path(alien.photo.key) : alien.image_url %>)">
        <%= alien.name %>
        <%= link_to alien_path(alien), data: { turbo_method: :delete, turbo_confirm: 'Destroy?'}, class: 'card-remove-link' do %>
          <i class="fa-solid fa-wand-sparkles"></i>
        <% end %>
        <%= link_to new_alien_holster_path(alien), class: 'card-add-link' do %>
          <i class="fa-solid fa-gun"></i>
        <% end %>
        <div class="card-weapons">
          <% alien.weapons.each do |weapon| %>
            <span><%= weapon.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
